body{
     margin: 0px;
     font-family: 'Poppins', sans-serif;
    }

.special-color{
    color:magenta; 
              }    

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.link-button{
    text-decoration: none;
    background-color: magenta;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.half-width{ 
     width:40%;
     float:left;
     margin-left:5%;
     padding-left:2%;  
      
  } 
.half-width img{
    width: 70%;
      } 

section{
        height:700px;
        padding-bottom: 10px;
       
        }   
.top-part{
        background-image: url("images/header-bg.png");
        background-size:cover ;
         } 

.biography{
    background-image:url("images/biography-bg.png");
    background-size: 2000px 2000px;

}  

.text-position {
    text-align: center;
  }
.work1 img{
      height: 300px;
      width: 300px;
      float:left;
      margin-left:5%;
     
 }

 .latestwotk{
     background-image: url("images/latest-work-bg.png");
   
 }

.text-all{
     text-align: center;
 }
 
section .email-button{
    text-decoration: none;
    width: 500px;
    height: 100px;
    margin-left: 400px;
    background-color: magenta;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 700;
    color: white;

}


.footer-part{
    background-image: url("images/footer-bg.png");
    background-repeat: cover;
   

}  

.test-coler{
    color: white;
}
footer p{
    text-align: center;
}

     
